<div class="container">
  <h3 mat-dialog-title>Edit Client </h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form" style="display: none !important;" >
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.Call_Id" name="Call_Id"  >
      </mat-form-field>
    </div>

    <div class="form" style="display: none !important;" >
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.Client_Id" name="Client_Id"  >
      </mat-form-field>
    </div>



    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="PhoneNumber" [(ngModel)]="data.PhoneNumber" name="PhoneNumber" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Call_To" [(ngModel)]="data.Call_To" name="Call_To"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Date_Call"   [(ngModel)]="data.Date_Call" name="Date_Call">
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button  type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
